li {
display: flex;
justify-content: space-between;
}

div.text {
  display: flex;
  gap: 15px;
}

div.buttons {
display: flex;
gap: 5px;
}



button {
  background-color: rgb(171, 163, 163);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(136, 43, 173);
}

.textToDo {
  font-weight: bold;
}

.textCompleted {
  text-decoration: line-through;
  color: rgb(171, 163, 163);
}

.toDo {
  color: white;
  border: 2px solid orange;
  border-radius: 3px;
  padding: 4px 6px;
  background-color: orange;
}

.isCompleted {
  color: white;
  border: 2px solid rgb(72, 202, 72);
  border-radius: 3px;
  padding: 4px 6px;
  background-color: rgb(72, 202, 72);
}