section.todoList {
    background-color: rgb(225, 249, 225);
    padding: 20px;
    border-radius: 5px;
}

ul.tasksList {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

ul.tasksList li {
    list-style: none outside;
    background-color: rgb(255, 252, 252);
    border: 1px solid rgb(207, 201, 201);
    border-radius: 4px;
    padding: 7px;
}

ul.tasksList li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


div.formContainer {
    margin: 20px 0px;
}


form input {
    background-color: rgb(255, 252, 252);
    padding: 8px;
    border: 1px solid rgb(207, 201, 201);
    border-radius: 5px;
    margin-right: 5px;
}


button.btnAdd {
    background-color: rgb(171, 163, 163);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    cursor: pointer;
}

      
button.btnAdd:hover {
    background-color: rgb(72, 202, 72);
  }